{% extends '../layout/layout.html'%}
{% block loadcss %}
{%load static%}
<link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U' %}">

{% endblock %}


{% block main%}

     {% if user.is_authenticated %}
     <div class="container2">
     <div class="content-box">
          <h3>{{ classroom.class_name}}</h3>
          <h3>Schedule: {{ classroom.schedule}}</h3>
          <h3>Code: {{ classroom.class_code}}</h3>
          {%if user.role != 'student'%}
          <a class='nav-link'href="{% url 'makeactivity' classroom_pk=classroom_pk%}">
               <button>Create Activity</button>
          </a>
          {% endif %}
          <div class=>
               <div class="border w-100 d-flex justify-items-center"><strong>ACTIVITY LIST</strong></div>
               {% if activities %}
                    {% for activity in activities %}
                    
                         <div class="border w-100 d-flex justify-items-center"><span><a href="{% url 'activity_detail' classroom_pk=classroom_pk pk=activity.pk %}">{{ activity.title}}</a>  |  
                              | <strong>DUE:{{ activity.time_limit}}</strong></span>
                         </div>
                    {% endfor%}
               {% else %}
          </div>

               <h3>This page will display list activities.<h3>
                    <p class="text-center">No activities found.</p>
          {% endif%}


     </div>
     </div>
     {% endif%}
{% endblock%}