{% extends '../layout/layout.html'%}

{% block main %}
     {% if user.is_authenticated and user.role == "professor" %}
          <h1>CREATE CLASSROOM</h1>
          <form action="{% url 'create_classroom'%}" method="POST" class="d-flex flex-column w-50">
               {% csrf_token %}
               {{ form }}
               <button type="submit" class="button w-25">Create Classroom</button>
          </form>
          <!--flowbite.com-/docs/forms/timepicker-->
     {% else %}
          <h1>YOu are not allowed here!</h1>
     {% endif %}

{% endblock%}