{% extends '../layout/layout.html' %}

{% block title%} Register {% endblock %}

{% block main %}
     {{ template }}
     <div style="margin-top: 20px;"></div>
     <div class="d-flex justify-content-center align-items-center vh-100">
     <form method="post" class="container-sm w-50 px-3 py-4 my-2 border">
          {% csrf_token %}
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
               {{ form.username }}
               {% for error in form.username.errors %}
               <div class="invalid-feedback d-block">
                   {{ error }}
               </div>
               {% endfor %}
                        </div>
          <div data-mdb-input-init class="d-flex justify-content-between mb-4">
               {{ form.first_name }}
               {{ form.last_name }}
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
               {{ form.email }}
               {% for error in form.email.errors %}
               <div class="invalid-feedback d-block">
                   {{ error }}
               </div>
               {% endfor %}
          </div>
          <div data-mdb-input-init class="form-outline w-50 mb-4">
               {{ form.role }}
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
               {{ form.password1 }}
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
               {{ form.password2 }}
               {% for error in form.password2.errors %}
               <div class="invalid-feedback d-block">
                   {{ error }}
               </div>
               {% endfor %}
          </div>
          <button class="btn text-info p-0 mb-4" style="background-color: transparent;" type="button" data-bs-toggle="collapse" data-bs-target="#passwordRequirements" aria-expanded="false">
               Show password requirements
           </button>
           <!-- Collapsible Section -->
           <div class="collapse mt-2" id="passwordRequirements">
               <div class="card card-body bg-light">
                   <ul class="mb-0">
                       <li>Your password can’t be too similar to your other personal information.</li>
                       <li>Your password must contain at least 8 characters.</li>
                       <li>Your password can’t be a commonly used password.</li>
                       <li>Your password can’t be entirely numeric.</li>
                   </ul>
               </div>
           </div>
          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            {{ form.password }}
            {% if form.non_field_errors %}
            <p class="text-danger py-1">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </p>
            {% endif %}
          </div>
        
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
              </div>
            </div>
            <div class="col">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div>
        
          <!-- Submit button -->
          <div class="d-flex justify-content-center">
               <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4 w-100">Register</button>
          </div>
          <!-- Register buttons -->
          <div class="text-center">
            <p>or sign up with:</p>
            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
        
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
        
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>
        
            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
     </form>
    </div>
{% endblock%}